<ion-view title="About App" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="aboutApp-card22">
            <div class="item item-body " id="aboutApp-list-item-container6">
                <p id="aboutApp-markdown6" style="margin-top:0px;color:#5794EE;" class=" ">
                    <strong>My Munny v0.0.1</strong>
                </p>
            </div>
            <ion-item class="item-avatar  " id="aboutApp-list-item13">
                <h2>Author 1</h2>
                <p>author1@gmail.com</p>
            </ion-item>
            <ion-item class="item-avatar  " id="aboutApp-list-item33">
                <h2>Author 2</h2>
                <p>author2@gmail.com</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>