<ion-view title="About App" id="page13" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="aboutApp-card22">
            <div id="aboutApp-list-item-container6" ng-bind-html="about | hrefToJS"></div>
            <ion-item class="item-avatar" ng-repeat="(uid, member) in team" id="aboutApp-list-{{ uid }}">
                <h2>{{ member.name }}</h2>
                <p ng-show="member.nim">{{ member.nim }}</p>
                <p ng-show="member.email">{{ member.email }}</p>
                <p ng-show="member.role">{{ member.role }}</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>