<ion-view title="Account" id="page11" class=" ">
    <ion-content padding="true" class="has-header">
        <h3 id="account-heading3" style="color:#000000;" class=" ">Connected Account</h3>
        <button id="account-button17" class=" button button-assertive  button-block icon-left ion-social-googleplus ">Log in</button>
        <ion-list id="account-list12" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="account-list-item37">
                <h2>John Doe</h2>
                <p>john.doe@gmail.com</p>
                <i class="icon ion-social-google"></i>
            </ion-item>
        </ion-list>
        <button id="account-button12" class=" button button-assertive  button-block ">Log out</button>
    </ion-content>
</ion-view>