<ion-view title="Edit Transaction" id="page15" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="editTransaction-card26">
            <ion-list id="editTransaction-list14" class=" ">
                <label class="item item-input " id="editTransaction-input11">
                    <span class="input-label">Date</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input " id="editTransaction-input15">
                    <span class="input-label">Amount Rp</span>
                    <input type="number" placeholder="">
                </label>
                <ion-item id="editTransaction-list-item35" ui-sref="menu.category" class="  ">Category</ion-item>
                <label class="item item-input " id="editTransaction-textarea7">
                    <span class="input-label">Note</span><textarea placeholder=""></textarea>
                </label>
                <ion-toggle toggle-class="toggle-positive" id="editTransaction-toggle3" class=" ">Save Location</ion-toggle>
            </ion-list>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <button id="editTransaction-button18" class=" button button-balanced  button-block ">Save</button>
        <button id="editTransaction-button20" class=" button button-assertive  button-block ">Delete</button>
    </ion-content>
</ion-view>