<ion-view title="Expense" id="page14" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="expense-card24">
            <ion-list id="expense-list11" class=" ">
                <label class="item item-input " id="expense-input8">
                    <span class="input-label">Date</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input " id="expense-input9">
                    <span class="input-label">Amount Rp</span>
                    <input type="number" placeholder="">
                </label>
                <ion-item id="expense-list-item15" ui-sref="menu.category" class="  ">Category</ion-item>
                <label class="item item-input " id="expense-textarea6">
                    <span class="input-label">Note</span><textarea placeholder=""></textarea>
                </label>
                <ion-toggle toggle-class="toggle-positive" id="expense-toggle2" class=" ">Save Location</ion-toggle>
            </ion-list>
            <ion-item id="expense-list-item34" class="  ">Attach Photo</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <button id="expense-button10" class=" button button-balanced  button-block ">Save</button>
    </ion-content>
</ion-view>