<ion-view title="Income" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="income-card25">
            <ion-list id="income-list13" class=" ">
                <label class="item item-input " id="income-input14">
                    <span class="input-label">Date</span>
                    <input type="date" placeholder="">
                </label>
                <label class="item item-input " id="income-input13">
                    <span class="input-label">Amount Rp</span>
                    <input type="number" placeholder="">
                </label>
                <ion-item id="income-list-item49" ui-sref="menu.category" class="  ">Category</ion-item>
                <label class="item item-input " id="income-textarea5">
                    <span class="input-label">Note</span><textarea placeholder=""></textarea>
                </label>
                <ion-toggle toggle-class="toggle-positive" id="income-toggle1" class=" ">Save Location</ion-toggle>
            </ion-list>
            <ion-item id="income-list-item12" class="  ">Attach Photo</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <button id="income-button7" class=" button button-balanced  button-block ">Save</button>
    </ion-content>
</ion-view>