<ion-view title="My Munny" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <div class="row">
                <div class="col text-center">
                    <span class="h4">Balance</span>
                    <span class="h2">{{ utils.formatMoney(getTotalBalance()) }}</span>
                </div>
            </div>
        </div>
        <div id="myMunny-button-bar1" class=" button-bar">
            <a ui-sref="menu.income" id="myMunny-button3" class=" button button-balanced  button-block icon-left ion-plus ">{{ utils.formatMoney(getTotalIncome()) }}</a>
            <a ui-sref="menu.expense" id="myMunny-button4" class=" button button-assertive  button-block icon-left ion-minus ">{{ utils.formatMoney(getTotalExpense()) }}</a>
        </div>
        <div class="list card" ng-repeat="(dayId, dayObj) in wallet" id="myMunny-{{ dayId }}">
            <ion-item id="dompetDigital-list-item9">
              {{ dayObj.date }}
                <span class="badge" ng-class="{'badge-balanced': utils.isIncome(dayObj), 'badge-assertive': utils.isExpense(dayObj)}">
                  {{ utils.formatMoney(dayObj.amount) }}
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-repeat="(transactionId, transactionObj) in dayObj.transactions" id="myMunny-list-{{ transactionId }}" ui-sref="menu.transactionDetail">
                <i class="icon {{ getCategory(transactionObj.category).icon }}"></i>
                {{ getCategory(transactionObj.category).name }}
                <span class="item-note" ng-class="{'balanced': utils.isIncome(transactionObj), 'assertive': utils.isExpense(transactionObj)}">
                  {{ utils.formatMoney(transactionObj.amount) }}
                </span>
            </ion-item>
        </div>
    </ion-content>
</ion-view>