<ion-view title="My Munny" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div>
            <div class="row">
                <div class="col text-center">
                    <span class="h4">Balance</span>
                    <span class="h2" ng-class="{'assertive': utils.isExpense(total.balance)}">{{ utils.formatMoney(total.balance) }}</span>
                </div>
            </div>
        </div>
        <div id="myMunny-button-bar1" class=" button-bar">
            <a ui-sref="menu.income" id="myMunny-button3" class=" button button-balanced  button-block icon-left ion-plus ">{{ utils.formatMoney(total.income) }}</a>
            <a ui-sref="menu.expense" id="myMunny-button4" class=" button button-assertive  button-block icon-left ion-minus ">{{ utils.formatMoney(total.expense) }}</a>
        </div>
        <div class="list card" ng-repeat="date in wallet | orderObjectBy:'dateTime':true" id="myMunny-{{ date.key }}">
            <ion-item id="dompetDigital-list-item9">
              {{ date.dateString }}
                <span class="badge" ng-class="{'badge-balanced': utils.isIncome(date.total), 'badge-assertive': utils.isExpense(date.total)}">
                  {{ utils.formatMoney(date.total) }}
                </span>
            </ion-item>
            <ion-item class="item-icon-left" ng-repeat="transactionData in date.transactions | orderObjectBy:'dateTime':true" id="myMunny-list-{{ transactionData.key }}" ui-sref="menu.transactionDetail({walletId: 'walletidone', transactionId: transactionData.key})">
                <i class="icon {{ getCategoryDetail(transactionData.category).icon }}"></i>
                {{ getCategoryDetail(transactionData.category).name }}
                <span class="item-note" ng-class="{'balanced': utils.isIncome(transactionData), 'assertive': utils.isExpense(transactionData)}">
                  {{ utils.formatMoney(transactionData.amount) }}
                </span>
            </ion-item>
        </div>
    </ion-content>
</ion-view>