<ion-view title="Settings" id="page10" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="settings-form4" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="settings-toggle4" class=" ">Save Location by Default</ion-toggle>
        </form>
        <a ui-sref="menu.shareWallet" id="settings-button13" class=" button button-positive  button-block ">Share Wallet</a>
        <button id="settings-button11" class=" button button-assertive  button-block ">Reset Wallet</button>
    </ion-content>
</ion-view>