<ion-view title="Share Wallet" id="page12" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="shareWallet-form1" class="list ">
            <div class="item item-body " id="shareWallet-list-item-container3">
                <form id="shareWallet-form2" class="list ">
                    <p id="shareWallet-markdown3" style="margin-top:0px;color:#000000;" class=" ">Share this wallet code to whom you want to manage this wallet with.</p>
                    <button id="shareWallet-button16" class=" button button-positive  button-block icon-left ion-ios-paperplane ">74cth757</button>
                    <p id="shareWallet-markdown5" style="color:#797979;" class=" ">Your initial wallet code: 74cth757</p>
                </form>
            </div>
        </form>
        <div class="item item-body " id="shareWallet-list-item-container4">
            <p id="shareWallet-markdown4" style="margin-top:0px;color:#000000;" class=" ">Input a wallet code here to start managing the wallet. Your old wallet will remain the same when you switch back to it.</p>
            <form id="shareWallet-form3" class="list ">
                <label class="item item-input " id="shareWallet-input10">
                    <input type="text" placeholder="Wallet code">
                </label>
            </form>
            <button id="shareWallet-button15" class=" button button-dark  button-block ">Switch Wallet</button>
        </div>
    </ion-content>
</ion-view>