<ion-view title="Transaction Detail" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="transactionDetail-card27">
            <ion-list id="transactionDetail-list15" class=" ">
                <ion-item class="item-avatar  " id="transactionDetail-list-item41">
                    <h2>John Doe</h2>
                </ion-item>
                <ion-item class="item-icon-left  " id="transactionDetail-list-item42">
                    <i class="icon ion-android-calendar"></i>07 June 2016</ion-item>
                <ion-item class="item-icon-left  " id="transactionDetail-list-item43">
                    <i class="icon ion-social-usd"></i>Rp 10.000</ion-item>
                <div class="item item-body " id="transactionDetail-list-item-container8">
                    <p id="transactionDetail-markdown7" style="margin-top:0px;color:#000000;" class=" ">Long description
                        <strong>lorem</strong>ipsum sir dolor amet hahaha. Long description lorem ipsum sir dolor amet hahaha. Long description lorem ipsum sir dolor amet hahaha.</p>
                </div>
            </ion-list>
            <ion-item class="item-icon-left  " id="transactionDetail-list-item46" ui-sref="menu.location({walletId: 'walletidone', transactionId: '-KKcZd178ldL4PugJQyO'})">
                <i class="icon ion-location"></i>Location</ion-item>
            <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
        </div>
        <a ui-sref="menu.editTransaction" id="transactionDetail-button5" class=" button button-positive  button-block ">Edit</a>
        <button id="transactionDetail-button6" class=" button button-assertive  button-block ">Delete</button>
    </ion-content>
</ion-view>